@using Umbraco.Core.PropertyEditors
@using ClientDependency.Core.Mvc
@inherits UmbracoViewPage
@{
    Layout = null;

    var lang = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;


    Html.RequiresCss("~/assets/css/bootstrap.min.css");
    Html.RequiresCss("~/assets/css/fontawesome.min.css");
    Html.RequiresCss("~/css/aos.css");
    Html.RequiresCss("~/css/main.min.css");

    Html.RequiresJs("~/scripts/aos.js");
    Html.RequiresJs("~/scripts/jquery-3.5.1.min.js");
}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @*@Umbraco.GetDictionaryValue("yas mall") |*@
    <!-- The above 3 meta tags *must* come first  the head; any other head content must come *after* these tags -->
    <title>@Model.Value("metaTitle")</title>
    <meta name="description" content="@Model.Value("metaDescription")" />
    <meta name="keywords" content="@Model.Value("metaKeyword")" />

    @*<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />*@
    @Html.RenderCssHere()

    <style>

        section.logo {
            background: #EC6758;
            padding: 32px 0;
            text-align: center;
        }

            section.logo img {
                width: 250px;
                max-width: 100%;
            }

        .title-holder {
            padding: 0px !important;
        }

        .title-holder .title {
            font-size: 20px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 50px;
            font-weight: 600 !important;
            font-family: 'Gotham-Book';
        }

        .inner-section a {
            color: #ffffff;
            display: block;
            background: #7BCAB3;
            text-align: center;
            width: 20%;
            margin: 0 auto;
            margin-bottom: 40px;
            /*border-radius: 16px;*/
            padding: 12px 0;
            font-size: 23px;
            font-weight: 500;
        }

        .btn:hover {
            color: #ffffff;
        }

        .inner-section p {
            text-align: center;
            font-size: 12px;
            line-height: 22px;
        }

        .footer-bottom {
            align-items: center;
            justify-content: space-between;
            display: flex;
            width: 80%;
            margin: 0 auto;
        }

        footer.footer {
            background-color: #111a21;
        }

        .footer-bottom {
            align-items: center;
            justify-content: space-between;
            display: flex;
            width: 80%;
            margin: 0 auto;
        }

        footer.footer {
            background-color: #111a21;
        }

        .rights {
            width: 70%;
        }

        .footer-logo {
            width: 30%;
            text-align: right;
        }

        .rights ul li {
            padding: 0 20px 0 0;
        }

        @@media screen and (max-width: 767px) {
            .footer .footer-bottom ul .text {
                width: auto !important;
                margin: 0;
                text-align: center;
            }

            .footer-bottom {
                width: 90%;
            }
        }

        @@media screen and (max-width: 575px) {
            .footer .footer-bottom ul .text {
                width: auto !important;
                margin: 0;
                text-align: center;
            }

            .inner-section p {
                text-align: center;
                font-size: 12px;
                line-height: 22px;
            }

            h1.title {
                font-weight: 300;
            }

            .footer .footer-bottom ul li {
                font-size: 12px;
                font-weight: 300;
                font-family: 'Gotham-Book' !important;
            }

            .rights ul li {
                padding: 0 0px 0 0;
            }

            .footer .footer-bottom ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }

            section.logo {
                background: #EC6758;
                padding: 27px 0;
                text-align: center;
            }

                section.logo img {
                    width: 200px;
                    max-width: 100%;
                }

            .footer .footer-bottom .col-md-4 {
                text-align: right;
            }

            .rights {
                width: 100%;
            }

            .footer-logo {
                width: 100%;
                text-align: right;
            }

            .footer-bottom {
                display: block;
            }

            .inner-section a {
                color: #ffffff;
                width: 65%;
                margin: 0 auto;
                margin-bottom: 40px;
                padding: 10px 0;
                font-size: 24px;
                font-weight: 500;
            }

            .btn:hover {
                color: #ffffff;
            }
        }

        @@media screen and (max-width: 375px) {
            .footer .footer-bottom ul li {
                margin: 0 0px;
                font-size: 10px;
            }
            .btn:hover {
                color: #ffffff;
            }
            
        }
    </style>
</head>

<body>
    <!--Start Wrapper-->
    <div class="wrapper">
        <section class="logo">
            <a href="@Umbraco.GetDictionaryValue("logoHref")" class="aldar" target="_blank" rel="noopener noreferrer">
                <img src="/media/a5vfrweu/yaslogo.svg" alt="">
            </a>
        </section>
        <div class="inner-section">
            <div class="container-fluid custom-container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!--Start Main Title-->
                        <div class="clearfix title-holder">
                            <h1 class="title">@Model.Value("title")</h1>
                            <div>
                                @Html.Raw(Model.Value("description"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Start Footer-->
        <footer class="footer" style="height: 100px !important">
            <div class="footer-bottom">
                @*<div class="container-fluid custom-container-fluid">*@
                @*<div class="row">*@
                <div class="rights">
                    <ul class="list-unstyled other-links">
                        <li class="text">&copy; @System.DateTime.Now.Year @Umbraco.GetDictionaryValue("allrightsreserved")</li>
                        <li><a href="@Umbraco.GetDictionaryValue("PrivacyHref")" class="gtm-track-footer-nav-click" name="@Umbraco.GetDictionaryValue("PrivacyPolicy")">@Umbraco.GetDictionaryValue("privacypolicy")</a></li>
                        <li><a href="@Umbraco.GetDictionaryValue("TermsConditionsHref")" class="gtm-track-footer-nav-click" name="@Umbraco.GetDictionaryValue("TermsConditions")">@Umbraco.GetDictionaryValue("TermsConditions")</a></li>
                    </ul>
                </div>
                <div class="footer-logo">
                    <a href="@Umbraco.GetDictionaryValue("aldarHref")" class="aldar" target="_blank">
                        An ALDAR property <img src="/assets/images/logo-aldar-footer.png" alt="Aldar" width="40" />
                    </a>
                </div>
                @*</div>*@
                @*</div>*@
            </div>
        </footer>
        <!--End Footer-->
    </div>
    <!--End Wrapper-->
    <!--Start JQuery Libraries-->
    @Html.RenderJsHere()
    @*<script type="text/javascript" src="/assets/js/aos.js"></script>*@
    <!--End JQuery Libraries-->

</body>